body{
    margin: 0;
}

h1{
    padding: 30px;
    margin: 0px;
}

.text{
    margin: 0;
    padding: 20px;
}

footer{
    margin: 0;
    padding: 10px;
}

header{
    height:300px ;
    width: 3000px;
    background-color: #ff7300;
    color: #ff7300;
    text-align: center;
    font-size: 30px;

    background-image: url(https://tr.rbxcdn.com/436498a27e20e7ed86a5f8868626386f/768/432/Image/Webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: "Ink Free";
    text-shadow: 1px 5px 20px black;

}
main{
    height:6150px ;
    width: 3000px;
    background-color: #ff0000;
    color: #ff0000;
    text-align: left;
    font-size: 40px;
    padding: 10px;

    background-image: url(https://tr.rbxcdn.com/437824343e8befb07d5eb8b209403c17/768/432/Image/Webp);
    background-size: cover;
    background-position: center;

    font-family: "Ink Free";
    text-shadow: 2px 10px 40px black;
    display: flex;
}

.left{
    width: 50%;
    text-align: justify;
}

.right{
    width: 50%;
    text-align: center;
}

footer{
    height:2200px ;
    width: 3000px;
    background-color: #7700ff;
    color: #b700ff;
    text-align: center;
    font-size: 50px;
    padding: 10px;

    background-image: url(https://tr.rbxcdn.com/45bb1d754142edca288d9471c362323d/768/432/Image/Webp);
    background-size: cover;
    background-position: center;

    font-family: "Ink Free";
    text-shadow: 4px 20px 80px black;
    padding-top: 20px;
}

.social img{
    width: 100px;
    padding-left: 10px;
}

.social{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}